@import "_global.css";
@import "_normalize.css";
@import "_fonts.css";
@import "_variables.css";
@import "_vendor.css";
@import "_overall.css";


/*основные стили*/
body{
  background-color: #fff;
}
.header{
  border-top: 2px solid #9b9797;
  border-bottom: 2px solid #9b9797;
}
.header__prof{
  margin-top: 30px;
  padding-top: 10px;
}
.header__wrap{
  display: flex;
  }

.header__btn{
  display: inline-block;
  color: #31a1b6
}

.header--icon{
  color: #31a1b6;
  margin-right: 100px;
}

.header__title{
  display: inline-block;
  margin: auto;
}

.photo{
  background-color: #f6f4f4;
}
.photo__prof{
  margin-bottom: 100px;
}

.photo__img{
  width: 200px;
  height: 200px;
}

.form__prof{
  
 
  }
  .profile input{
    width: 100%;
    margin-bottom: 30px;
    height: 50px;
  }
  .prof__wrap{
    position: relative;

  }
  .prof__position{
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
  }
  .prof__icon{
    position: absolute;
    right: 4px;
    bottom: 55%;

  }
  .prof__switch{
    border: 1px solid black;
    border-radius: 2px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

  }

    .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
  }
  .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:checked + .slider:before {
      transform: translateX(26px);
    }
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  .prof__btn{
    border: 2px solid #31a1b6;
    background-color: #31a1b6;
    border-radius: 30px;
    height: 40px;
    width: 150px;
    margin: 0 auto;
    display: block;
    
  }