@import "_global.css";
@import "_normalize.css";
@import "_fonts.css";
@import "_variables.css";
@import "_vendor.css";
@import "_overall.css";
@import "_media.css";



/* Основные стили*/

.header{
  padding-top: 30px;
}


.header__items{
  display: flex;
  align-items: center;
  border-top: 2px solid #9b9797;
  border-bottom: 2px solid #9b9797;
  background-color: #f6f4f4;
  text-align: center;
}
.burger{
  display: none;
  width: 40px;
  height: 40px;
  /*background-color: red;*/
  position: relative;
  left: 0;
  margin-right: 40px;
}
.burger__line{
  position: absolute;
  left: 5px;
  width: 30px;
  height: 3px;
  background-color: #000;
}

.burger__line:nth-child(1){
  transform: translateY(-10px);
}

.burger__line:nth-child(3){
  transform: translateY(10px);
}

.nav-links{
  padding-left: 30px;
}
.header__title{
  margin: auto;
}

.header__authorization{
  margin-right: 30px;
}
.header__prof{
  width: 20px;
  height: 20px;
}
.mobil{
  display: none;
}


